# THIS IS A WHITELIST GITIGNORE
# ONLY LIST ITEMS TO INCLUDE IN GIT

# Ignore everything by default
*

# Allow basic git files
!.gitignore
!README.md

# Allow Nix files
!configuration.nix
!disko-config.nix
!flake.nix
!flake.lock

# Allow ALL in the containers folder
!containers/
!containers/*.nix
!containers/foundryvtt/
!containers/foundryvtt/*.nix
!containers/pterodactyl/
!containers/pterodactyl/*.nix

# Allow ALL in the network folder
!network/
!network/caddy.nix
!network/default.nix
!network/tailscale.nix
!network/dnsconfig.js
!network/dns_zones.yaml

# Allow deployment files
!deploy-nix.sh
!Containerfile
!build-deployer.sh
!deploy-dns.sh
!secrets/cat-creds.sh

# Allow VPS proxy deployment script
!deploy-vps.sh
!vps/
!vps/configuration.nix
!vps/home.nix
!vps/disko.nix

# Add markdown files
!TODO.md
!README.md

# Allow SOPS config
!.sops.yaml
!secrets/
!secrets/secrets.yaml
!secrets/dns_creds.json

# Allow LICENSE
!LICENSE