# THIS IS A WHITELIST GITIGNORE
# ONLY LIST ITEMS TO INCLUDE IN GIT

# Ignore everything by default
*

# Allow basic git files
!.gitignore
!README.md

# Allow Nix files
!configuration.nix
!disko-config.nix
!flake.nix
!flake.lock

# Allow ALL in the containers folder
!containers/
!containers/*.nix

# Allow ALL in the network folder
!network/
!network/*.nix

# Add deployment scripts
!deploy-nix.sh